flask
gunicorn
langchain
sentence-transformers
transformers
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community==0.3.26
langchain-groq
langchain-openai==0.3.24
langchain_experimental
langgraph<1.0
duckduckgo-search
-e .

